@charset "UTF-8";

/* FONTES */
@font-face {
    font-family: 'Raleway';
    src: url('../fontes/raleway.ttf') format('truetype');
}

/* PALETA DE CORES */
:root {
    --cor0: #fff;
    --cor1: #5385C1;
    --cor2: #afaeae;
    --cor3: #000;
}

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORPO */
body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1098px;
    margin: auto;
}

/* CABEÇALHO */
.cabecalho {
    background-color: var(--cor1);
    text-align: center;
    padding: 0.8rem 0;
    z-index: 1;
    background-image: none;
    position: fixed;
    width: 100%;
}

/* MENU */
.cabecalho .logo-menu {
    margin-bottom: 0;
}

.cabecalho .logo-menu .lista-menu .item-menu a {
    text-decoration: none;
    color: var(--cor0);
    font-size: 0.8em;
}

/* SEÇÃO NUNC */
.secao-nunc .p-secao {
    color: var(--cor2);
    margin-bottom: 2rem;
    line-height: 1.6em;
    font-size: 0.9em;
}

@media screen and (max-width: 1007px) { 

    .secao-nunc .p-secao {
        padding: 0 2rem;
        font-size: 1em;
    }
}