@charset "UTF-8";

/* FONTES */
@font-face {
    font-family: 'Raleway';
    src: url('../fontes/raleway.ttf') format('truetype');
}

/* PALETA DE CORES */
:root {
    --cor0: #fff;
    --cor1: #5385C1;
    --cor2: #afaeae;
    --cor3: #000;
}

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORPO */
body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1098px;
    margin: auto;
}

/* CABEÇALHO */
.cabecalho {
    background-image: url(../media/imagens/banner.jpg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 3.8rem 0 11rem 0;
}

.cabecalho .logo-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5.5rem;
}

.cabecalho .logo-menu .logo {
    color: var(--cor0);
    text-decoration: none;
    font-weight: bold;
}

/* BOTÃO MOBILE */
nav.logo-menu #btn-open {
    display: none;
}

nav.logo-menu #btn-open .hamburguer {}

/* MENU */
nav.logo-menu .lista-menu {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav.logo-menu .lista-menu .item-menu {
    position: relative;
}

nav.logo-menu .lista-menu .item-menu a {
    position: relative;
    text-decoration: none;
    color: var(--cor0);
    font-size: 0.9em;
}

nav.logo-menu .lista-menu .item-menu .underline::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    top: 19px;
}

nav.logo-menu .lista-menu .item-menu .underline::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    top: 19px;
    background-color: var(--cor1);
    transition: .3s;
    transform-origin: center;
    transform: scaleX(0);
}

nav.logo-menu .lista-menu .item-menu a:hover ~ .underline::after {
    transform: scaleX(1);
}

nav.logo-menu .lista-menu .item-menu a:hover {
    color: #bacee6;
    transition: .5s;
}

.cabecalho h1 {
    color: var(--cor0);
    font-weight: 100;
    font-size: 3.2em;
    margin-bottom: 1.6rem;
}

.cabecalho p {
    color: var(--cor2);
    font-size: 0.9em;
}

/* CONTEÚDO */
main.conteudo {}

/* SEÇÃO DE ARTIGO  */
.secao-artigo {
    background-color: var(--cor0);
    padding: 5.3rem 0;
}

.secao-artigo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.secao-artigo .artigo {}

.secao-artigo #artigo-borda {
    border-left: 1px solid var(--cor2);
    border-right: 1px solid var(--cor2);  
    padding: 0 4rem;
    margin: 0 4rem 0 3rem;
}

.secao-artigo .artigo h2 {
    font-size: 1.2em;
    font-weight: 100;
    color: var(--cor1);
    margin-bottom: 1.3rem;
    line-height: 1.4em;
}

.secao-artigo .artigo p {
    color: var(--cor2);
    font-size: 0.9em;
    margin-bottom: 2rem;
    line-height: 1.6em;
}

.secao-artigo .artigo a {
    display: block;
    background-color: var(--cor1);
    text-decoration: none;
    color: var(--cor0);
    font-weight: bold;
    width: 80px;
    text-align: center;
    padding: 0.8rem;
}

.secao-artigo .artigo a:hover {
    background-color: #52739b;
    transition: .5s;
}

/* SEÇÃO IPSUM  */
.secao-ipsum {
    background-color: var(--cor1);
    text-align: center;
    padding: 5.8rem 0 7.5rem 0;
}

.secao-ipsum h2 {
    color: white;
    font-weight: 100;
    font-size: 2.5em;
    margin-bottom: 1rem;
}

.secao-ipsum p {
    color: #bacee6;
    margin-bottom: 4rem;
    font-size: 0.9em;
}

.secao-ipsum .lista-pessoa {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.secao-ipsum .lista-pessoa .item-pessoa {
    border: 1px solid #bacee6;
    padding: 2.8rem 1.8rem;
}
.secao-ipsum .lista-pessoa .item-pessoa:hover {
    box-shadow: 7px 8px 5px rgba(0, 0, 0, 0.096);
    transition: transform .5s;
    transform: translate(-5px, -5px);
}

.secao-ipsum .lista-pessoa .item-pessoa img {
    border-radius: 50%;
    margin-bottom: 1rem;
}

.secao-ipsum .lista-pessoa .item-pessoa h3 {
    margin-bottom: 0.5rem;
    font-size: 1.3em;
    color: white;
    font-weight: 100;
}

.secao-ipsum .lista-pessoa .item-pessoa span {
    color: #bacee6;
    margin-bottom: 3rem;
    font-size: 0.9em;
}

/* SEÇAO NUNC DIGNISSIM */
.secao-nunc {
    padding: 5.8rem 0 2rem 0;
}

.secao-nunc > h2{
    text-align: center;
    color: var(--cor1);
    font-weight: 100;
    font-size: 2.5em;
    margin-bottom: 1rem;
}

.secao-nunc > p {
    text-align: center;
    color: var(--cor2);
    margin-bottom: 4rem;
    font-size: 0.9em;
}

.secao-nunc .artigos {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.secao-nunc .artigos .artigo {}

.secao-nunc .artigos .artigo img {
    width: 100%;
    margin-bottom: 1.8rem;
}

.secao-nunc .artigos .artigo h3 {
    color: #6e97c9;
    font-weight: 100;
    margin-bottom: 1.5rem;
    font-size: 1.2em;
}

.secao-nunc .artigos .artigo p {
    color: var(--cor2);
    line-height: 1.6em;
    font-size: 0.9em;
    margin-bottom: 2rem;
}

.secao-nunc .artigos .artigo a {
    display: block;
    background-color: var(--cor1);
    text-decoration: none;
    color: var(--cor0);
    font-weight: bold;
    width: 80px;
    text-align: center;
    padding: 0.8rem;
}

.secao-nunc .artigos .artigo a:hover {
    background-color: #52739b;
    transition: .5s;
}

/* RODAPÉ */
.rodape {
    border-top: 1px solid var(--cor2);
    padding-top: 2.7rem;
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
    color: var(--cor2);
    align-items: center;
}

.rodape p {}

.rodape p a {
    text-decoration: none;
    color: var(--cor2);
}

.rodape p a:hover {
    text-decoration: underline;
    color: #52739b;
}

.rodape .imagens-rede-socias {
    flex-direction: row;
    display: flex;
    gap: 1rem;
}

.rodape .imagens-rede-socias a {
    color: var(--cor1);
    text-decoration: none;
    font-size: 1.5em;
}

/* RESPONSVIDADE */

/* DESKTOP */
@media screen and (min-width: 1005px) and (max-width: 1200px) {
    .container {
        max-width: 965px;
        margin: auto;
    }
}

/* TABLET */
@media screen and (max-width: 1005px) {

    /* CABEÇALHO */
    .cabecalho {
        background-attachment: none;
        padding: 3.5rem 0 8rem 0;
    }

    .cabecalho .logo-menu {
        padding: 0 3rem;
    }

    .cabecalho .logo-menu .lista-menu .item-menu .underline {
        display: none;
    }

    /* SEÇÃO ARTIGO */
    .secao-artigo {
        background-color: var(--cor0);
        padding: 4.5rem 2rem;
    }

    .secao-artigo {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .secao-artigo #artigo-borda {
        border-left: none;
        border-right: none;
        border-bottom: 1px solid var(--cor2);
        border-top: 1px solid var(--cor2);
        padding: 2rem 0;
        margin: 0;
    }

    /* SEÇÃO IPSUM */
    .secao-ipsum {
        padding: 5rem 0 5rem 0;
    }

    .secao-ipsum .lista-pessoa {
        list-style: none;
        display: flex;
        margin: auto;
        gap: 2rem;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .secao-nunc .artigos {
        display: flex;
        gap: 4rem;
        padding: 0 2rem;
        justify-content: space-between;
        margin-bottom: 5rem;
        flex-direction: column;
    }
}

/* CELULAR */
@media screen and (max-width: 768px) and (min-width: 320px) {
        
    /* CABEÇALHO */
    .cabecalho h1, .cabecalho p {
        padding: 0 1rem;
    }

    /* BOTÃO MOBILE */
    nav.logo-menu #btn-open {
        display: block;
        background-color: transparent;
        border: none;
    }
    
    nav.logo-menu #btn-open .hamburguer {
        border-top: 4px solid #bacee6;
        width: 2.2rem;
        display: block;
    }

    nav.logo-menu #btn-open .hamburguer::before {
        content: '';
        display: block;
        border-top: 4px solid #bacee6;
        width: 2.2rem;
        background-color: currentColor;
        margin: 7px 0;
    }
    
    nav.logo-menu #btn-open .hamburguer::after {
        content: '';
        display: block;
        border-top: 4px solid #bacee6;
        width: 2.2rem;
        background-color: currentColor;
        position: relative;
    }

    /* CLASSE QUE VAI SER ATIVADA COM JAVASCRIPT 'ATIVADO' */
    nav.logo-menu #btn-open.ativado .hamburguer {
        border-top: transparent;
    } 

    nav.logo-menu #btn-open.ativado .hamburguer::before {
        transform: rotate(135deg);
        transition: all 0.3s;
    }
    
    nav.logo-menu #btn-open.ativado .hamburguer::after {
        transform: rotate(-135deg);
        transition: all 0.3s;
        top: -11px;
    }

    nav.logo-menu .lista-menu.ativado {
        left: 0;
    }

    /* MENU */
    nav.logo-menu .lista-menu {
        background-color: var(--cor1);
        position: fixed;
        padding: 1.5rem;
        left: -100%;
        width: 18rem;
        top: 0;
        height: 100vh;
        flex-direction: column;
        transition: all .5s;
        padding-top: 1rem;
        z-index: 1;
    }

    nav.logo-menu .lista-menu .item-menu {
        text-align: left;
    }

    nav.logo-menu .lista-menu .item-menu a {
        color: #9ab5d6;
        display: block;
        font-size: 1.2em;
        width: 100%;
        padding: 0.5rem 0;
    }

    nav.logo-menu .lista-menu .item-menu a:hover {
        color: white;
    }
    
    nav.logo-menu .lista-menu .item-menu #a-borda {
        border-bottom: 1px solid #9ab5d6;
        border-top: 1px solid #9ab5d6;
        padding: 0.8rem 0;
    } 

    /* SEÇAO IPSUM */
    .secao-ipsum .lista-pessoa {
        width: 300px;
        list-style: none;
        display: flex;
        margin: auto;
        gap: 2rem;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .secao-ipsum .lista-pessoa .item-pessoa {
        width: 90%;
        margin: auto;
    } 

    /* SEÇAO NUNC */
    .secao-nunc .artigos .artigo a {
        display: block;
        background-color: var(--cor1);
        text-decoration: none;
        color: var(--cor0);
        font-weight: bold;
        width: 100%;
        text-align: center;
        padding: 0.8rem;
    } 

    /* RODAPÉ */
    .rodape {
        padding-top: 2rem;
        gap: 2rem;
        flex-direction: column;
    } 
}
